/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 mars 2024, 16:43:52
    Author     : Utilisateur
*/
#reminder-message {
            color: red;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }
