/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 mars 2024, 11:11:15
    Author     : loulo
*/

.auth-section{
    padding : 40px;
    margin-top: 50px;
}

.register{
    background-color: var(--light-gray-color);
    border-radius: 5px;
}

.register select {
    width: 100%;
}

.register input[type=password]:invalid{
    outline: 1px solid var(--error-color);
}