/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 mars 2024, 10:09:46
    Author     : loulo
*/

.navbar {
    display : flex;
    background-color: white;
    width: 100%;
    padding : 0 1rem;
    align-items: stretch;
    height: var(--nav-size);
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray-color);
    z-index: 1001;
}

.navbar ul {
    margin: 0;
    display: flex;
    list-style : none;
}

.navbar li{
    position : relative;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li:hover:after{
    position:absolute;
    bottom:0;
    height: 3px;
    width: 100%;
    background-color: var(--red-color);
    content: "";
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-link {
    padding : 8px;
    text-decoration: none;
    color : var(--blue-color);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.nav-drop{
    display : flex;
    gap : 5px;
}

.nav-drop:hover{
    cursor : pointer;
    background-color: var(--light-gray-color);
}

.logo-wrapper{
    display: flex;
    align-items: center;
}

.primary-navbar {
    display: flex;
    align-items: stretch;
}

.user-navbar {
    display: flex;
    align-items: stretch;
    margin-left: auto; 
}

.user-navbar div{
    display: flex;
    align-items: center;
}

.logo{
    width: 40px;
    height : 40px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropDownContent{
    display: none;
    position: absolute;
    top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a {
    display: block;
}

.dropDownContent a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropDownContent {
  display: block;
}

.arrow{
    transition: transform 0.2s;
}

.dropdown:hover .arrow {
  transform : rotate(180deg);
}